* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.header-content h1 {
  font-size: 22px;
  font-weight: 700;
  color: #222;
}



nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: lch(34.21% 71.96 38.25 / 0.96);
}

nav ul li svg {
  vertical-align: middle;
}